<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= extra.error.title %></title>
        <% if (settings.api.arcio.enabled == true) { %>
            <script async src="https://arc.io/widget.min.js#<%= settings.api.arcio.widgetid %>"></script>
        <% } %>
  <link rel="stylesheet" href="/assets/<%= theme %>/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/<%= theme %>/vendors/feather/feather.css">
  <link rel="stylesheet" href="/assets/<%= theme %>/vendors/base/vendor.bundle.base.css">
  <link rel="stylesheet" href="/assets/<%= theme %>/vendors/flag-icon-css/css/flag-icon.min.css"/>
  <link rel="stylesheet" href="/assets/<%= theme %>/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/<%= theme %>/vendors/jquery-bar-rating/fontawesome-stars-o.css">
  <link rel="stylesheet" href="/assets/<%= theme %>/vendors/jquery-bar-rating/fontawesome-stars.css">
  <link rel="stylesheet" href="/assets/<%= theme %>/css/style.css">
  <link rel="shortcut icon" href="/assets/<%= theme %>/images/favicon.png" />

</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center bg-dark">
        <a class="navbar-brand brand-logo text-white" href="/dashboard">SwayDev</a>
        <a class="navbar-brand brand-logo-mini text-white" href="/dashboard">S</a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-lg-flex d-none">
                <a class="btn btn-info font-weight-bold" href="/create">+ Create server</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-lg-flex d-none">
              <a class="btn btn-light font-weight-bold btn-block btn-xs" href="/logout">Log Out</a>
          </li>
      </ul>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas bg-dark" id="sidebar">
        <div class="user-profile">
          <div class="user-image">
            <img id="pfp2" src="https://discord.com/assets/2d20a45d79110dc5bf947137e9d99b66.svg">
          </div>
          <div class="user-name">
              <span><%= userinfo.username %></span>
          </div>
          <div class="user-designation">
            <% if(pterodactyl.root_admin == true) { %>
              <span>Admin</span><badge class="fa fa-admin"></badge>
            <% } %>
            <% } else { %>
            <% if(pterodactyl.root_admin == false) { %>
              <span>Customer</span><badge class="fa fa-user"></badge>
            <% } %>
          </div>
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <i class="fa fa-dashboard menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="fa fa-server menu-icon"></i>
              <span class="menu-title">Create</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="fa fa-shopping-cart menu-icon"></i>
              <span class="menu-title">Shop</span>
            </a>
          </li>
          <% if(pterodactyl.root_admin == true) { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <i class="fa fa-lock menu-icon"></i>
              <span class="menu-title">Admin</span>
            </a>
          </li>
          <% } %>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper d-flex auth px-0 ">
          <div class="container">
          <div class="row">
            <div class="col-sm-12 mb-10 mb-xl-4">
              <h5 class="font-weight-bold text-dark text-center mx-auto"><strong><code class="h4">404</code></strong> - Page not Found</h5>
              <h4 class="font-weight-normal mb-2 text-muted text-center mx-auto">The page you requested does not exist. It might have been moved or deleted, or perhaps you mistyped it</h4>
              <h5 class="font-weight-light mb-2 text-muted text-center mx-auto"><a class="link"><i class="fa fa-arrow-left"></i>Go back</a></h5>
            </div>
          </div></div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- base:js -->
  <script src="vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="js/off-canvas.js"></script>
  <script src="js/hoverable-collapse.js"></script>
  <script src="js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="vendors/chart.js/Chart.min.js"></script>
  <script src="vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="js/dashboard.js"></script>
  <!-- End custom js for this page-->
  <% if(userinfo.avatar !== null) { %>
    <script>
        document.getElementById('pfp').src = "https://cdn.discordapp.com/avatars/<%= userinfo.id %>/<%= userinfo.avatar %>.png"; 
        document.getElementById('pfp2').src = "https://cdn.discordapp.com/avatars/<%= userinfo.id %>/<%= userinfo.avatar %>.png";
    </script>
<% } %>
</body>

</html>

